#!/bin/bash
#
# If the .first_time_setup file is not found, performs first time setup: creates the file and
# sends the welcome email indicating that the cloudos instance is up and ready to be unlocked
#
# Runs as root (to use command-line sendmail).
# SMTP relay should be properly configured at this point.
#


<%
email = @app[:databag][:init]['recovery_email']
hash = @app[:databag][:init]['admin_initial_pass']
key = @app[:rand][0][0..24]
%>

FT_SETUP=$(cd ~cloudos && pwd)/.first_time_setup
FQDN="$(hostname)"

if [ ! -f ${FT_SETUP} ] ; then
  # file does not exist, create it
  echo "{
    \"secret\": \"<%=key%>\",
    \"email\": \"<%=email%>\",
    \"passwordHash\": \""'<%=hash%>'"\"
  }
  " > ${FT_SETUP} && chown <%=@app[:run_as]%> ${FT_SETUP} && chmod 600 ${FT_SETUP}

  # and send welcome email
  sendmail -oi -t 1> ${FT_SETUP}.sendmail.out 2> ${FT_SETUP}.sendmail.err <<EOF
From: do-not-reply@${FQDN}
To: <%=email%>
Subject: Your Cloudstead is Ready!
MIME-Version: 1.0
Content-Type: multipart/alternative;
 boundary="------------030208040009050001030506"
X-SG-EID: YIFLW7f58+yTxdz6+pROtJf8heyVPvtDQg52YKvT4eEbL4A2NPcjh2vxSn1K5baB24gnpTCqUQPC9qavzHCfgsbsW97qQrb2bCEODkQ+TRSxP3wuOC7jw0X6Vc1HPKu3a0d+nmCDUvA1n8P2JKjxlAUxyhYNjlzIVXCV7PM08n0=

This is a multi-part message in MIME format.
--------------030208040009050001030506
Content-Type: text/plain; charset=utf-8; format=flowed
Content-Transfer-Encoding: 7bit

Cloudstead | Own Your Cloud. <http://www.cloudstead.io>

Hello and welcome!

This is an automated message from your private Cloudstead. Your 
Cloudstead is ready and awaiting further configuration and customization 
at https://${FQDN}/setup.html?key=<%=key%>.

Once logged in, you may wish to:

  * Safeguard your keys
    <http://cloudstead.io/documentation/backing_up_key_info>
  * Create additional users
    <http://cloudstead.io/documentation/add-remove_users>
  * Add apps <http://cloudstead.io/documentation/app_management>

If you have any questions or encounter any difficulties, please 
visit http://cloudstead.uservoice.com or email
tickets@cloudstead.uservoice.com and let us know.

Thank you and congratulations on joining the family of Happy Cloudsteaders.

The Cloudstead Team

P.S. - You may want to consider sharing Cloudstead with your friends...

  * Facebook <http://www.facebook.com/sharer.php?u=http://www.cloudstead.io>
  * Twitter
    <http://www.twitter.com/share?url=http://www.cloudstead.io&text=I%20just%20took%20back%20my%20privacy%20with%20Cloudstead%21&hashtags=cloudstead,own%20your%20cloud>
  * Google+ <https://plus.google.com/share?url=http://www.cloudstead.io>
  * Digg <http://www.digg.com/submit?url=http://www.cloudstead.io>
  * Reddit
    <http://reddit.com/submit?url=http://www.cloudstead.io&title=Cloudstead:%20Take%20back%20your%20privacy.%20Own%20your%20cloud.>
  * Linkedin
    <http://www.linkedin.com/shareArticle?mini=true&url=http://www.cloudstead.io>
  * Email
    <mailto:?Subject=I%20just%20got%20my%20Cloudstead&Body=I%20just%20took%20back%20my%20privacy%20by%20getting%20my%20own%20Cloudstead%21%20I%20thought%20you%20might%20be%20interested%20as%20well.%20%20http://www.cloudstead.io>


--------------030208040009050001030506
Content-Type: multipart/related;
 boundary="------------070700020607040509070406"

--------------070700020607040509070406
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: 7bit

<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <a href="http://www.cloudstead.io"><img alt="Cloudstead | Own Your
        Cloud." src="cid:part1.00000203.05080902@cloudstead.io"
        border="0" height="100" width="300"></a><br>
    <br>
    Hello and welcome!<br>
    <br>
    This is an automated message from your private Cloudstead. Your
    Cloudstead is ready and awaiting further configuration and
    customization at <a
    href="https://${FQDN}/setup.html?key=<%=key%>">https://${FQDN}/setup.html?key=<%=key%></a>.<br>
    <br>
    Once logged in, you may wish to:<br>
    <ul>
      <li><a
          href="http://cloudstead.io/documentation/backing_up_key_info">Safeguard
          your keys</a><br>
      </li>
      <li><a href="http://cloudstead.io/documentation/add-remove_users">Create
          additional users<br>
        </a></li>
      <li><a href="http://cloudstead.io/documentation/app_management">Add
          apps</a><br>
      </li>
    </ul>
    If you have any questions or encounter any difficulties, please
    visit <a href="http://cloudstead.uservoice.com">
      http://cloudstead.uservoice.com</a> or email <a
      href="tickets@cloudstead.uservoice.com">tickets@cloudstead.uservoice.com</a>
    and let us know.<br>
    <br>
    Thank you and congratulations on joining the family of Happy
    Cloudsteaders.<br>
    <br>
    The Cloudstead Team<br>
    <br>
    P.S. - You may want to consider sharing Cloudstead with your
    friends...<br>
    <ul>
      <li><a
          href="http://www.facebook.com/sharer.php?u=http://www.cloudstead.io">Facebook</a></li>
      <li><a
href="http://www.twitter.com/share?url=http://www.cloudstead.io&amp;text=I%20just%20took%20back%20my%20privacy%20with%20Cloudstead%21&amp;hashtags=cloudstead,own%20your%20cloud">Twitter</a></li>
      <li><a
          href="https://plus.google.com/share?url=http://www.cloudstead.io">Google+</a></li>
      <li><a
          href="http://www.digg.com/submit?url=http://www.cloudstead.io">Digg</a></li>
      <li><a
href="http://reddit.com/submit?url=http://www.cloudstead.io&amp;title=Cloudstead:%20Take%20back%20your%20privacy.%20Own%20your%20cloud.">Reddit</a></li>
      <li><a
href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.cloudstead.io">Linkedin</a></li>
      <li><a
href="mailto:?Subject=I%20just%20got%20my%20Cloudstead&amp;Body=I%20just%20took%20back%20my%20privacy%20by%20getting%20my%20own%20Cloudstead%21%20I%20thought%20you%20might%20be%20interested%20as%20well.%20%20http://www.cloudstead.io">Email</a></li>
    </ul>
  </body>
</html>

--------------070700020607040509070406
Content-Type: image/png;
 name="wp_header6.png"
Content-Transfer-Encoding: base64
Content-ID: <part1.00000203.05080902@cloudstead.io>
Content-Disposition: inline;
 filename="wp_header6.png"

iVBORw0KGgoAAAANSUhEUgAAASwAAABkCAYAAAA8AQ3AAAAACXBIWXMAAAsT
AAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNn
VFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8ig
iAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfA
CAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAH
vgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCd
mCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7
AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7
AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkX
KxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G
/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUA
oOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7i
JIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5E
mozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcA
APK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCB
KrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv
1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggX
mYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyG
vEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+
Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXA
CTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIx
h1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBoj
k8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU0
5QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgX
aPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+Y
TKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV
81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkG
WcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2q
qaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxr
qpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acK
pxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VH
DFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYP
jGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x
1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l
1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6T
vZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPj
thPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWd
m7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+B
Z7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nv
nl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5
QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeG
P45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8Yu
ZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxap
LhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgq
TXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqoh
TZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdl
V2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxx
edsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWF
fevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavE
uWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/
PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttV
AVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRS
j9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92
HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLT
k2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy
2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L15
8Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfV
P1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L9
6fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bC
xh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz
/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdv
kl/FRgAALcFJREFUeNrsnXmcHGd557/vW1cfc2okjaxrxvdFrLGND2yCxpvl
CGFjcSwLmxAPu0lgP2xAJCQLiRPLQCBZApaSkGyyWTzOh/0k8AfIJIFAwB57
uXyPjLGNsK0R1n3OaK7urqr33T/qre6aVvdM90zrsurnT3la3VVvvfVWvb96
nud9DqG11qQ4myDSIUiRojZkOgQpUqRICStFihQpUsJKkSJFSlgpUqRIkRJW
ihQpUqSElSJFipSwUqRIkSIlrBQpUqRICevvD07xSDFI72aKFClhnb14vBDw
+od/xh1f/gm3fXUnf7z7BFPpPU2R4hULcS6G5owDv/PMIb7wxCHYPwttNhR9
ENB/1XI+9ZrVvLszc87ek/SxTJHiFUBYGvjU2An++qmD7B07Bkgy7S4aEFqg
SwHFmSJ0Znnzq1Zy5w2reI1zzgmRKWGlSHGuE9a/ThS46/H9PPrsUShqvHYX
YQmUUmaKi+iP1AQzAeGMRqzN877rVvKHVy5ndUpYKVKkhHWqsVNpNj+yl288
fQhOlLDyFo7rolTUbSEEaA2I+A9SAkpTmC6Bgu4Lu9ly6wV8sLctJawUKVLC
aj2mgE/sPMrnHjlAsHcSspJM1gUBKtFjIcRcnVHEHzVSCFSoKE36kBFcc0UP
d928lre1uSlhpUiRElZr8Lf7J/nM4wd44aXjEEIm74IUKK0RWoDQIKrntZ7z
USMQQsesBoWQ4mwAy7O8a8Ny7tzQy9XWWWnfSgkrRYpzgbBGZnw+8sN9PPHj
w1AIcdodpCXQWhDZqHRES6LCT0LUm9/aHBftKAGEpDjro4s+7tp23n/DBXzi
kmV0pISVIkVKWI3iZ8AfPHmILz66H6YKyKyN41oR7ehIUtKGqSKpqfE5Xb48
IRCoyDSvRGTfQrHm0i4+dct6fq0nmxJWihQpYdVHEfjsi+N86rG9TO+bAWGR
zQs0glBEM1cA6OgfWuuIcBYzpWPDvABQSATah+J0CXIOt1yznM/eeAE3e3ZK
WClSpIQ1F//3yAwff2QPO386DiF4bS5CCrQyap+M3BSS3auv/jUgYRFLaKC1
Ai0QQiIFBEWFXyjByizvua6XT1y9gj5xxngjJawUKc4WwvphKeTjTxzkG4/t
h0IRq8PDkbaxNOnKKl8kCtEq3ogvMyIsY7g36qYQAqE0szM++IqO9Z189JbV
/Na6Ds6AI0RKWClSnGnC2gt88tkj/K8f7oGjPtKT2FkLo+udNFu18a8SLWKs
MmERm+ETRnzzL4QGpSlO+yAF/Zcv4y9uWcNbTm+YT0pYKVKcKcLygc/87AR/
+sg+Tuw5gbQkbsYmXsDTsU1Kg0i4JkSEdaokrDJFlSWtSL6LbGRCKoRvJK42
lzdes4I7r+3ltRknJawUKV6phPX1ySJ3P7aPR588BFLi5h2EjIgo0sp0RExn
0yzVsf+pRgqYLYQwG8CKHL910wX8wVXL6U0JK0WKVw5hPR0otuw4xFcfOQgn
ZrHbHSzPBqUrEhXaCDdnH2EpEamK0vTP0sYNwvdZfmkPW25azftWt3GK1hNT
wkqR4nQQ1kHgT3YeZduje9EHitiejZ2xUMy1UcWWo0YISxs7ltba+FLV+J2K
SpewgtWmAr3AaqMm1k+JW9aAFBpCRWEmBBsGru7hk9ev5pdab99KCStFilNJ
WCHw+QNTfPrRAxzYeQQsjZvPIpCAAqHRJlegSJi5GxJ4ahGW1ujFUoFuwD0i
4WxKZf2yfGzoK4KZInS4/Mr1q/nwNSu5vnVpbFLCSpHiVBHWt6dLfPTxAzzx
xGFQIW6bHaV90aIs+TTrnV5NWCf3WtRsTVQLSuXPes4XyaN13D+9sENqnA0C
AZaG2VkfZn24IM9HblrDxy/voQX+8ilhpUjRasJ6OlB8+plD/ONTB+FYgUzW
A0egqCy8CbPutpRZOEfCMpBClL0hVKjR5nOoQ0NGAiEElhRILSKCExqFiq39
UR+ThKob8aA3jKWVITqBpRQzU0UQgssu7+GD167iA6vbU8JKkeJsIKwjwGdf
PMo9j+6j+PI0IuvgZi20ouKDoPUcSUYLjVjCPIyVMikkaE0YKnwFBApCDUpF
SbAso6BqQTm2BwGWheVILDtSTHVZMW2OTk/25TJqogStFKWpADzJ6wd6+cg1
K3lDh5cSVooUZ4qwvnhslo98fy8Hnz8CliCTz6CBaotSw86eutpInvCHSnCf
AKQUBCH4vgI/AAEdbTY/15Xl4jablW02+YyDkFDyFeMzAT+bKvDMRIGxcR+K
GiwL4Uk8y0LNYYdKFgihRWMEa7TM2D0DIZAC/EJAOF2ElXl+8/pV/P41vfSl
hJUixekjrH+d9fnT0UOMjB6GyQKZDhdsm1CpKKylhtbUrMTCHL/zihQjRPS/
YjGAQgCuw+vW5fnl/jy39ua5qCNHu2uRdTRREpnI0B8oxZSvOTDr88yxGf7t
ZxP8064Z9h8vgaVwPAfLslE6pOIYlvCDb4B059Ct1uWkgQJNYTaEIuTW5fnA
9b188tJluClhpUhx6gjrBaXZ+swRPv/0Idg/hZ11sDK2CR4+STkq25qalbAq
Kp+IxZzyLkprSjMhoHh9XxvvvXo5v7C2nZVZB6MDNgRflfjR0QL/uPM4f/fc
YY6fCCHjknElWsfkadwYGpSwSEhYZeoVGlRkZ9MIilNFsBTXXr6c37v+At61
IpcSVooUrSQsDXz8Z+P82Q/3M/XiOGQccm0OSmuUYI59qmE7VDI0xhyvk7Yu
w1UqUAQKtDSENuOTyVvceeMqPnB1L12eM6efypAaxQA946MFSM8Gz0aYjKKx
3BUfNbJ3nDsf2cP3ds2A65LJSpMlQs+5Mk2zGSJ0WYXVRmizpED7IcWJInR6
/NL1F/DJa1cy4FgpYaVIsVTC+tKBKT76/T2M/fQ4lASi28X1ZJT6TleC+5qd
VSfxorEXCQlBqAl8DUGpYtcSAkLN5b1tbBvs5Y1rl5cPDYmIrfCjg6hvv4R8
6jDhkRlUUEC2h4gVErXSw7pwBdY1fcir1mG357ESxHWsOMvHvr+Xv33iCDgS
L+egI5ZcnD0uqSMq43gqogT0lsnlVZj0ozCflTmGBnr53HUr6T6ZuFLCSpGi
UcK65ZE9/ODBPXQuz2PlbI7NlnD8ECFlUhMy6tsiJSwtIpVJQ9H3wQ+wHIu+
To8rux0ubs/Q5Tpkbc2b+roYWNFGHJocaCh85yUKX9hB8NBuxIEpLBWgkOCG
2D0+sksRtgt0m8Re5iEvX479umuwb7kOqy1nJC5FIfT5ox/u4zOPHATHxsva
aGUcVI0X/pKI2RCWEJpiCJmMJCsEk+M+QUbyrXdfyetP9pRPCStFikYJ65jW
TBRDMkLgWIIvHpzmw//6ArKocGwbpdVJ9qqGDNRzUshI/EChSkWEJbhtXZ53
XtLN4Jou1rQ55GwrcmGIKVJplJSUxmeY+NQPmP6bxxEnJnFxsHGwkJCRsBxk
d4BoB5EH5ZYQ+Ag9g86DuOEyvNvfgHXZxUjABhSK33jgJb7w5PHIRcOtpGNu
WsKK7W4qscoJ+LM+N75qOffduo7lUlAINYEtWONYOEtUCYWz6ApAW4C7qr57
CBg8z+bAIPDgWTAOXcAQsPU8Hne0X5r3+T8pfneZECzLVL4eWtPO77TlUJMn
kK5GhQKaDIyZs/onNcVCAKUSV610+P1Xr+HtlywjY7v1TTpSML3rKIfe/y8E
39qJhYcju9AW6MBoYhammo5ES42yQXs2tuMgXAfELDz+FKU9u3H+89txbroB
BUgkn3vtesYmFQ/8dBzf8XCFmlNKrOm3gEisIEYWfd7Y18EVGZsUKWpgyLxA
+s4jwloUFpxBWeDyNovn/BC0YyQH0ZBkFYfEROUfIt/OYjGAQPPOq7r59GvW
cFFnG5S9oqKjiscK+FMlCBVOu0Ph8Ax7/9s3KD30E/KiHdfzkEpAGBqbV+yB
rkGriLeij5G7gRSIXBbRZiMmjuL/wxcRIkDc+BoUik7X5dM39/KWI5McngrQ
WSvhZNG8hFUOmEbghxossG0rfdpSVGPAENTGdChaRFgesMGTPKcVSpejhyvq
Wo0JXZEujIqERkpBsRhCMeQ3r13OZ25dS4cbe4JLgiBg/6Mvc/i7u5kcPUS4
fxqvpMi0O+jDBfSTh8m5XQjXQQcKpUNMvtJoXU+LMpmWU9cYdwWhNDJUCM9C
9/TA9GH8+7+M6OqAy67GBm7s7eD9r1rOJ767j2LgkXEs41tV1mkbVw9NymUt
dUTFlsUF2VS6SnESWT2VDkOLCQug07PKUpXWakFTi6iWNAQEYeT4+Y6ru9n6
8+vI2m6Z2g4/d5An/voR9nzteTgwixdAToKnLJxQkwXaOjNIbCgptAYpZMIu
pmuSZqRNlmvvoJWJAezsQozvo/jtr+Gt6cPPt+EAv3blMr7wk8PsPeajHYvm
ld+5vRHmnMKRXJmqgylOtlmlaBIN5UTJt3mRPqfD6JBygdI6pKV1JJ2YVbZQ
QTgbMrAuwz2vXUPWdo0SKPjJv/yYr7zny+z4/JME4wHZZXlyqztwV3Xg9OZx
V+Zxe3IgLUJjzJaGFYSsR5jmv0qdMLQWJu1yiLQksn0Z7P4p/pMPllW/Szpy
vOvyFSAlpVCVs0JEzvaibI9aKLlNlArHFHINFd05i8tzTvq0pUhxOiSsTC4q
FY9SaGEZi1Qiw4GoljBEeWJLSxJMB+Q8h/9x3SrWtuXLTPncvzzD1z/4dYr7
Z+np6yBrW9hhRAoiNFkUpAYlFifq1BK+tECHCuG5WEWN3vEIeuBWVPsyJBZv
WtvOZx8/gp4JEe2RF345PVbZC3+BrF5xAY1IHybrOWSd1tuwhON2GdViIPHG
HgHGzHaqVZp+85fEOUfOwud8MDFGY4kxauX1A4yadkdPo1oZ92Op977WszSe
uKaxs2HcGyIs17PBlpENS1bpPPPohRJNoIDQ542XdvGOi7rLktm+H+3j2x/7
NidenmblRZ1YApSv0MpwgtmELidZT2QWbd4UXnYziN3QBQjXQx7ch3rxOYKB
W3GBa3syvHl9jq8/N0FhIoA2l4xtE2qF0KqciJD5L73CliFk8x5ua4lqENgM
3F7j59hVYQfRytP2Fqsxm4lWterFdE8Aw+bc4/O0NcLJxua7zXG1sIWT3TDm
2z8+ZjPQWeO3h8xvi7n+em0mx2C72W+8geuo94q9rc4LIO5DX517/5A5z0iD
pLKFhQ3/u81+ww202epxb04l7M1aYEt8BILQSFXSuBHUGG8ROXlKBMFMgOvZ
3H7xMmzpAgK/UOIH277P4WeO0t3XhRIWQQAIjZIiCsuJWUaaFcmqAl2Ni1xz
4wJFTF5aIGwHHZZQu3+CCAM00JPx+KuNfdzzxnVctz4Psz6F2SCymREXYdWG
SHXNBIORsd5UmVaKnpzdMsISjruFyH/l9gV23QB8tcEHrNG3+aiZFPMloOgE
PmTepJvOoH0o7ms9YtloJvRQE22OLNBmcgzuMGMw0OLrGgHuWeAebDTPyEL3
fsjs18gqZR9w7wJtNjruTzUx7s0T1pWuFZmudJzrnPqEoStJ8bQAgoCru7Ns
XFUpSTo2MsbL3xkj1+NheRLCivpUlq5OMTQmhxbA+H6E8o2ia9HXkWPzhjX8
01su44PXLccSiuJMZL9TxjA2fyYtUSFWpbnQk60kq7uaPOwOlu7bM2AmSjOZ
cjoNYQ6dAcIaMYRNg8TSyjar2x9u8XVtbNG9HzQExCKep3r3dHsTY3THKSOs
flfi2RGxNKSMGcHLV4DUDKxw6G+vyBi7Ht7N1OFpMh1ZVKgr2RlOcwUdjQBp
wcwEevxIWW7zieIVV+c8tm1cz+/fsBxUkVIxwBJyQUadUwZDw+oW+GAZNfCu
ecT1h+Y5/ENLeNPHb/XOec69e57jt7ZYylgIQ/NMmh3AtgXGqhY21WhzArjP
qKVvNX931JF0W0HaW+pcV9yP+8znWvd+sE579e7nfcD989zXwTrjvnGeNreZ
NpeEhmxYHRmHfM6lODWD1BDGKo+OVu1E0i8rdvPWEIbRUt4l3Vnjig5Thyc5
/Ow+pAWWG638aaEqNqrTxFYxU6tMGxRmKD34D9gd7dCZJ7zkJuwVl6MAB4e7
b1rDnmmfe586TujYWHaUQqac9O+k1pXJRhFdV29rfLDqPWDvTbzFu8yDc08d
u8diJk49W8QO095o/F4z5HR7DSljK6cv1KWRcYr726hEMFCHiLdUSRdbzXj0
zXP8sHkBDNS5T7clPo9W2c5q2YM2JexkXaYfG2uMyWBVf2qRy4drSGSjNcao
v85zQgNtNjPuiyOsjCXoaHc5tn+6sgImasTalVcNRVQWKwghVGQSFWWm9k8w
e3gay7aRCJQQCK1Ou86gjCQkbQetirDrCQKmkU4AL34Ldf3bkFe+jQCwcfjo
dRfw0J5ZXjoeYNkW5fTKJyVNNSlqNKgQcCUd+aW5NAjH7Z/nAUtOwnHzcGyq
sX//IqWrzXXIapC5BuXYZjVcQ9zfmLCBnUoM1FFb766hmo0Zwl2s8+agGdOx
qvHfZLYxc72jNc47toDaV0vC66whWW2qugfjiXN3Vo1/sq9jhhjja+hPkHA1
hmsQa3+Nf2+oM+5ba1z/JmDXKVMJs8AF7W7kUCU0wjhAJclKa+PVrTWWEMyW
NBQC1vY4/Fy3W1ajStMlgpkQLBEVhSgrUeJ0mK5OVtxMKI+VbUd0Lod8D9b4
y/Do59Evfq3cp8u68rz7sk5A4QcKmVT7EqqwTpTWCZQC1yK/dB+setLJ8DxS
xjYjVdxmOjS4yPN21nmbjs8jkU3UmXSnGoPzqKW1MLoENWWjmXSjVRJM/O/h
FhL0pjr2olr3YJzaK8ODVfuMmH4Omd9qjV0/tR1c+5Y47mOLHfeGdZWBrM0P
Al1xSpqzeB+njtFoLZmdKQEh79zQw+aBFdzYkyMMAyzLwco4aEcar3NRSdp+
etmK5NKBkAKEhdQaXI3OrULOvID60X2olQME7euxEQyu7eDzzxxlfEajs6Jc
p1DHK5HxEqQWCKEiw75n07F0lbCWdPSQ9kvjdbI1jNAaf6iBOvaI+dqOJ8Pt
DT7UrURXHbVpfJ5jRll4xXX7PPbDDWZLuhRsN9tYi66rv0mCbqaN6vYGEtuG
JbS9owXjvnjC6svaYMUVZ3QNVSiasKWZEkLC3beu5qMDq3CkPYfgll3YQ+fa
Do795Gi55NaZgNBx6tTINUFpFamxKkRoicj0wOQe9P5HUe3rAVib97go7/Hk
5BRaZBAqKvkVX/scMhQCAk13l8W1eedUTMTTgYE6b8eFsKiH8RRO7PnQ6PXc
3+A1bTTbPYa8hlpAXLWI4w6aW2mrR25DRoJr9f0aX+D3EZpf8W6csLKeBFk2
0aDV3GBgKQSFQogUirtv7uXO69aZqasQSKaOTXHouYMc/+kxgtkQJ+ehdWDi
a86IiFUtbJW1ZK0DtOUgVAk5vbvMRV0Zl7ztQFFBmzauHpQDrWMhK1KObQg1
6z2b9bY8FcRxOtDFuYVTRVjxxN7aJElsNGQ3yOnzfm8GwyzSveBMoWHCsm0L
ZBRwLJEooaKSWMb65AcKSiXefmUXd96wJmEpkvz4/qd5avgpjvz4MGExwM5k
yHRmQAfoM0ZUcf52YRYJRMUPARnZthBoJ1u2V63Kan7lynYeOzhNYSrEabeJ
ApXm1mFEi/I3rteSFcIRzkwKklHOntQnA6donBoluXFDWsMJqaSzgeM6jXrY
f5bN/fnGaof5PSbZe2uYBc5ywvIib/dQCSzb1O+LyUZowkKJlV0Ov/vqVUTV
bDQB8Nhf/oCH/+gB/Ckfu8PFdiTYIThRhvVorU2d8buniStKx5VvSiivDTov
QkK0WqgV73vVcvKO5H3f3sPMdIDMW2WiK+eOMGFJANapC3peaAJvYelxheOL
JI7F2qv6T4G0198iwkpO9JHEdcbbfETZZ/YZWeQ17KihFtZyQWgUQ3X6u42T
Q6oGFymVDpyKZ6RhXaW7zYWsJAzi0JRIBZJS45tEem/o6+DVK7Jl6eX57c/w
8Ce+Q1AM6byom7beNjLdWYQdVakpxwqedWnMFUgXKRx4eYTSwR8QaoUvPMDm
Vy/v4WM39iAIKBUDpEwuQMRZIiISzrXGB6uWOtEpHHdgnkl4F1HYxS5zQ0YW
oVqO1pEYBhcggFqTYXsDbS+VsMbqkMV87W5qUkUepOLqMUJlhVAQOZDe12IS
r3ddAwuQRf8ChEUNqWlzA7aneiRe6zkZaNG4N09YfTkHPAsdBuXafWgBWqIC
sF2LwdV5hCnxMHVkktHhJ5gZD2hb3xnVY/BV5NlOVCW5XFnmTNqvavKVBukh
pAN7voX43m/Djm2osEgJAdh8+NrVDPZ1oIuaIDQKoTbFK9BRoLiG9taphPWk
qEYfyIFF2FFGqO2iMDwPgdR7629vQHrrr9PuZhpbsRppsk9DDbQ7YNrVwHHz
ErinzthvN21ONCitLuX+b6pDSgNEvmXJF9VwA4RZb+w2N/DyGG1y3DexSMfR
hgnrSsdibRxiIuLcUqZgQwjtGYtLOzJlLfPgs/s5/MwR8t05LISpRpNsMc5a
dRZCYAK4wbZzOKUJxNN/Dj/+mzK35m2Xd1/Wg+06BCUVpQszgZBSxyXRQtbn
l05Y2i+NU9tv5fYq+8gm83De1QBhNKoSbq8jtYxWvSVjlafWatN9NaSE8Trt
bq2aGEPU9givJ4k8VGecqkl2M43F0o3WkRQ21/l+sI5tq1F1cLO5n0OJ+zrc
oG2sqwZJbCQyrC9EmJtqENGWOvdzQ417Wev53Fhj3IdYQnxlw4TVLuCCjkxF
GNImX5WpGJpxbdq8ik/Q9P4ZxCzYjjCpswzJmehpzdkMk8ZGa7A8ZH4tws7B
i1+Cgz8kMHvdsjLDpcucyKGWWGI0laB1ZMy6IdsyG1Y9aer2xNv0q9Rf9dmy
yPNuriMx9JnzxeHq9aL+J+q8petN4DsSksFxmg/Q3TJPu8cNAY03QYL1JIXO
hPSyhUoqnwfrqFujDUpc95j7eW/ihTBO5DVeizh2mX5sN9dX6x7cX3X+eqr+
cXM9w+acd52Ccb+XxhYrlkZYANmsDUobSSKqLyji+BQlyxkMypNXhlFlZlOq
S8QFI5JiVaKGxNmD2BFWgApRKoDcMsTsUTj4GKHZa32nw/pOG3QYxU0qk0te
RloljsW6FhGW9kujRJ7ri8GHWZrhfbAOaS2ECU4O4UlOmvvmOXZjjbYaVZ+2
zfP7hqoJM9HgZNxRZ5LfYSb2XdT3ZdpU5/oXWm3rqiLNHfOM1e3z3IOhBlW1
mGDuaIBUBmpcz90tHvelEVZHuzc3/0vs2S01s8UiJwrF8r5tq9shJwhLPkKK
yJs8SWaxBHPWylpJ21qIREb2utIRpIl9zNk2PW6U7z5MUJ1AEoYK8hbZfOty
uWu/NGxIa6JJstq6xFOPGuLZ0cQxcbzhfHazIRoL0bif5gK3Ny9AWknJZ7DB
NgdpPpxkgsgQX28MFlKN+mu8OB5axD0Yr6E6N/ryu7vOi2WoDrFva3BcBk85
YfW3OZGApOIq0IaEbDhRUjw/Xirv23t1L6s2rKZ0tABKRSuDJtZOl1cHo5xZ
2qiW4myUtEQUdhOF8IAQdsVhVhOJUzq2x0kTBSDQvkbmPbryXmt7FJHWAPXT
iSTtRtfSujp3sS3nvQtM3B1mnwEaM/IPzSNp7TZtbaJ5o/VmQxY76kyYbTS3
EDFu+nFbA8QVp1PpX8B2uMW8UCbmscnVknbfu8DLY7chmsEFyPK2edp5yDw/
W+pcw9A8435bHWKNU+H0s0hH2pMqP8+Hz+w8wu997QW8zmzZiC4E+CpAFULe
ccVy/vH167GkDQh2fnMn//zr9zN1aJLOvi4sx0KoiKC00igT1SLR2ICnBBkl
8LTGDcANwdWKjC/wAnBDTSYEJxQIpZAa7AAsNOQEokcjugJkB9AGOhciHA2e
QmYVuAqcAOGESCcEVyHcMPrODaJMDY4PdhFhF8EpgFOMJERVQhSPEV713+Ga
D+ACJ4ozvPObu/nmC5PYbW45E6oUguKJIuv7O3j27VeQX4wBrdGdI9eGrkUa
eJeKwRqkNr7Itrqq1IwxWhuL138KxqfW2C+234vpY1cN1Wwx568+d6vGfsFr
0n6pqQab0lfWuhZIUxSVyN1TK3ClQ0EoHvjZBN/fP8XPr+kG4LI3XsbGTw3y
wEf/jfGxCbw2B8uWKKXQgcLp9LDaXERokgNqTo7SUadO7Iqz4UQhNZqTNFQh
kdIFodDTBwjza9G9NxGn43tpqsBLE0VAYgmN0rqy8qkVFzqyWbJarG3rTKGV
xDh+Com2leRXTdBnso+tGrNTNT4tb7cpwlqZdcCRqFBFzpKJ4Gfb9Tg2WeSP
nzjM11Z14FrRtL7+PTfQta6DHff+iANP76U4VcRxHdpXdeAHPhP7JxFYSDgp
6bA2ueGF1nHmZSqsdrL/lq7ao1pkiX+XiYI/lRo4Ys6eAg06RARTiOIRfCHh
iv+C1ftqYjP6w/tKvHDCB8eKAqaT1Tk0dGXSas8pUpwxwvJcCxzjpW5JpIqM
z0qAa0mU6/DNXcf42A9t/vSWPmyTN+viwctZd1M/h547yPTeGbwOh/b1nTz6
l49y+L6nsJdl0FJAGDldalNHUOjIwTRK8hfXBKxkWZgb0RORTGxdS5bn0mgs
rcuEogVlXylhzhWZnnSUMtkvIvxxdFgg8GaQbX1Yl/4K4opfNS0ojs8W+PJP
jqN9hZ23iBz34+wTka7rumktwhQpzhhh5docyDuo4yWEY5UDfAFCHeJ4gmJR
8LknDqO15K4bV9Lp5gBwsx5rr1sP181VucKiLgce11T+kiY2kZSUDCmVS39F
ZGXSUUFiH2EqKVqxPxiglQ9CIqQTJYyQgPZh8hCiq5Ow/wZ0VqCz3Yg1r0Uu
24ACXDQQ8CdP7eN7e05gOS6OloQoYhkr1mIz2ZSwUqQ4Y4S11rHpzLpMHC4g
0ChTkEEQLfwLQjIZl8Is3PPIIX58dJbfGujlttVt5B2nzDhxwrtMtwdaE/oK
4dmI0FCgFqaIqiGn8SJ+UeG0Z8wKnY72MeqcRiNsCz1bIqCA1e4iLVkOj4HI
p0pJiRQgSiWUmkQUFeQsyAQIWUTq44ieDvSNd8CVb0IShXELw2d2REdsffoQ
f/bkOFg2risiv9E4ZbQGpTRYgnxHWp4+RYozZ8MCrs3YjIQaZQqSCmO1loDQ
ketCJgMF2+ZbL03x3QMF3rQmxzWrMrxqmccbVnfQlslGquIb+nnq759ket8s
+b52sKLVw6i4g0BqYKKE6PDw2l30rklC18aTdpT+xZidBBZisohaZSF722B6
ijDjoLMOUvoIESKkRAmNPn4cVnUhbrgVcWwf4aEXkU6IyLUjLvg59LW/iOi7
DgnMlY9C9s+U+MunD/I/nzyMCiReziZAI8quD9F4hBqwLNbk3fQJS5HiTBEW
QG/OASHmppcpFyuNiodqrcnYFmFeMlPy+coLx/nKTgvXFfzvX1jDr10ZqYnr
buhj4Deu5XtbvsvE2ATLevNRGxp0qCnsncUjYO0fvoaem9dx6De+TvDTPfh0
YEkXqbWpxjyNwsd+z+vIbLqY0rZv4j+5E6nboUMgRIhSBbQ/SdDl4Lz+9biD
g4jJE4T7XkKqANrziBV94OWwEtLUodmQPZMlHjs4zd/vPM7395wAIfBydmQD
M1lTywmXdaR+Ylm8psU+WClSpITVJDJzioIKk5K9MmGFsUWpSKPD8xwC1yYM
BKXxgL969jj/4eJuut0MAsnrPvhaRCh4+i8eZ2r3BEoKAgV+GNDelmf1+2+m
/3dvxZY2/NUbmLjzYfxH9qFV0RjZFaKtDee/3kD+zo047R6665dR944gfjSG
mJkmVEVEu4196aXwi7fg3HIzNmC1d8DlA1VXGFnyTxR9tj19mAdenmL3dIld
x0rga8hKPMeOFFGZcIcQ0V9JdPGeK7nES1cJU6RoJZpyHAX49ScO8H8eehmv
zankfqqF2BUhtiFJQcnX6EKJP7xlFR+/aS3Jajm7HniBvf/2IsGRGWylyHd7
9P67i1n55stxkPhKgxSU9kxR+sYL6KcPoKZKiNXtuBv7cN9wkSkHryghCWd9
xI5d6CNHUMJHdHfgXNKPWNmNBlxCY6Ga02mCsMR39kzy5zuO8vUXJiL9zhHg
2riOhRVXB0ouFJjrVEQVgwozPp0rcjz/n65gldV0emSRPpYpUrSIsD70/DH+
/Ju7cDMyKvc1L2GJ8iqfMLmvStNF2jI2f/a61bzvyuVUzNrR5A9mfDQKJ+cl
mg7K+/mJvbUK0dI2Gaowa4EAEkVUvVkm5CZRFikVU8UC33h5ioISdGVcZgLF
yxMzPHZglm+/PMOx6RJ4MqqpqKTxCVNlko1JKklY2gR2l6Z8VvV18uzbLqN7
EfckfSxTpGiRStiZibzdQw2W0HNW4cpEZRhKmM9l4tIaJ2czNRPy2w/v5chs
kd/e0EvW8ogzojs1UgofLoTsmZphoCeHIxJVeOTc7u+fnuWF8SLX9bSTzzhz
AiWTstQzx6b5kyf38pWdJ1DCod21mQlDZgolKClwHKy8gye0ccDXkZFfikpp
sqTzabXHqo6Kx6ZODSlSnGHCuiRjgRVNZFtIlDZ+VGX5IJGUz3xO8BoCiZcT
zEwH3Pn/jvDdl2d592WdbFzbQV+bZ6roADpk33SRB/ZN8XfPHuel47P8+wvz
vLV/OQPL8izLWpH6FQSMTQd8/8AsX3r+CM8eneXm1W285aJ2BpZlWJFxsSzJ
ZDHk+fEiD+2b5Bu7JnjxeBGEDUJTLJUitnEsnIyDZWoNBoYXo8uT5ewS5arX
YMJxKkRtEeWW6cpZ5F4pYnhUeXoTlbi5cWC79ktjdeoipmgOg+bvyJk4r/ZL
I+fMs9isSvjMRJENX3oO5YdkXJuwmrBqqoeVEg1xLi2hI5sWJR/Ps7m6x+Xi
LpdlnocFHC0FvDRe4sfHZpkp+MaDXNKdk1zSmWVFzsGWkqmiz57pIj+dCtGF
WMIJkZ7kwpxLh2chpaDgh+yZVkxM+yAUIuPiWhKr7IDKHI93IXSCZBMJ/Ti5
4nVFshRIKSgem+adt6zjSz+/blH35Cwiqi6iaP0P1dnlPhafBzzFnBlyRu69
NoR1zpghmpawlrkWGdtiphCi41JYem6NwppT0NwSqQXK2LOyriBwHYolxZN7
izy5dyYK9BMyMkAhwLVwsh6WBX6gOD4b8Nj0dOIWG+9SR2LnLCwp0KFNqaR4
8bgPuhgZsCwBtsTK2NiW6atShBJTlkuXi1ALUY7pmXNdta5RiOj6EaJS8ktp
+p1XxArhdqLkcBNEaWpGqBRiGCJK9DbAmaubmCJVCeeH41lk2ixmTqhIpVqI
rKomu9ZRznOAUGgsLbA8C+0KwtAiJCphb2kL29IIqdEKVAiObeHYFlprQsOB
UlnYSIRQhARoFRnEMxlh+pcwLwkj6cXOqdJ4wgtdzkWYfNGJRt47idpe2pAg
tkVH27ltwRKOO2TIajcwYPLKl4lMOO6wIbANVFIEp0hxStH0mnubFFHJL19V
Dm5GqawiAWXmuNYKS4InbTJSYptyfyo0xXkEqFAQqEiisRDRuqHWKEJCs4IX
N69UFCKjiDattfkuGWuY6L9enFRcjn80mVh1qMEVdLSd87admIA2V5EVRo0Y
pZKrfShhg9leteuQ+X6ohvS2PXHcVnPOMTOsow2QYCz1Ddb4rbovm0ybOtH+
phrHjNRpa2uNf29NtDWflLmJSp70eueudcxS+jtSo73tibaGzskXabM2LIA3
P7Cbbzyyl+zyHKEpQjEnBfJSpn5sQzLsVnFMFXPyVlWkOj2n7rKuak7oU20d
qjiOWkgKRR8tYfgdV3LHykVlwzrj9gRjZN/ViH1DOO44Ua7uOLvpRvN51Owy
aqSwHYlJPUBUiuo+M3GSd2mCuRWn756HuDYTFW24r2oCbiIqkBF/v4VKQYU4
j3qf+ZtMIV3PlqSJMmgOJv49wdwc5RdSv37giNl3t9knVrP7EySWPO98/U2O
x3z9TX4fjwfmPvQn+34u2bDkYg66KifLFWJOZoUGprjWZWN1/LmcPhlTVVob
2xjGn0sYL3otElkbKmlo4lTzUbhMdFy56EWcipmyd0V5a8kEN49IlNBQYNkO
l+TPaZWw3/xtJH94TExdCYlmMPFdXBJqA5VVxsGEJJDE3Qkb2W1V+9bCcGJC
Vkt1sQTWbyb/hGmz32xvNd/dw+LKyHcaQhSGoMfq7BeTVXzuQXOdndROX53s
71sT/b3NfHfXIvo7nLj+AXP8feeFSgiQdyyjo4lFCQVCiIprgPlc2Si7EghT
Ol7E8lP8fVn+quxf2UTNrd7PraCrOM1NbMO6IGsxcH6mlqkmrMEqKWGwilC2
11FDk2Q2n6o1biZeZ4K0uogqyMSltQYTk3akjko6uES1ebTO74Omb/dXnXsL
9YuDDNboXzwew4vo7wCVGoYjiXHbfN4QluM5IAVah5TNN+crEk6jUgtQmqwn
yMlXhMN6V5P7jBmV4/YqyWdzYqLFUtf9NOYOsVC5qe1VJJiUrpLSYi0JaKxq
n2Yx1qCkOlrH/jY6zzGt6u9AnfbGaa4CzzksYbU74AmCUJUrypy3iBOgxiqy
Bitrn9PxNcaRcALYYOxZ9exXSZVvtEoy2kSlNNh2KqWdNtWRrpYi1e02JNk1
j/SW4hWARRFWLmODIwnNDC0HOZ+vW1Lc0hrpvCIS922vklTmU4mS0tJwQtLp
SxDYiCG3oTr2q1b0dXNCehtrQCrpb0BS6l9Cv8bqqLVdhuBHmpSiBhbR39F5
2tt4XhBWr2eDLSsRxSKqBn1ebiTiCaNkYLRlXxGEtcVIRbcLxx020lRZshKO
u5WKB/yWqgkykVALR6r+bjRS11gL+7q1SvXcXsMWNlRl+0lKe/E+O2rYiLYs
oV8jibFItrkpIZnWOiYpoc7X34ca6G98P+5Y6LqE4/YLxx00peNeOYT16rxL
d9aFUJvyoefzFo2BJQSgQMMlHZlz3zTnl8aolKi/AxgTjjsiHHfEkM2HzG/v
rWGLqUUYSWliuMXdjW1nnaZPw1W/xatyD1IpPfWg+e69CfKM+/2g6e+YufaJ
JfRtc6LNUbPdOw8ZNtPfkQb7u6nGfnfVOPeQ2Wfr2fpcLkoUWOtIllmS4yWf
gmdFxQmF5PxEwhNVh+AHXPMKSdyn/dKosWFtMQ99rELsNpN7Sx1JaZhKdd/x
xJv+fua6P1AlKdDg99Q55z11bFdxP2OVMa5AvL1q/y2mf/G1xpWnB5bYr3HT
9oaEJLe5hqSU7Mdo4pgJM3bDNfpLnf4OVL003lolZW6roa6Omb6Mnq3P5KIc
RwGu/ucXefbZw9DpUS7hfF4iUesnCKEQ8OV3Xc1/XNux6HtyLl39WZStYdhI
F9eezRPuLHwpnVP9XTRhPXyiyPPTPhe4FrNKY4nzN/NcPIAlpZnV8PYVOToX
79aQElbj6EpIE/cw15s+RUpYKU7HPUkJqynCOm4+x24TqXT1CiastHBeinMZ
40QGaohsOylZvdLf5qmElUpYKVKcK5DpEKRIkSIlrBQpUqRICStFihQpYaVI
kSJFSlgpUqRIkRJWihQpzjP8/wEAmz0zIGGcYA0AAAAASUVORK5CYII=

--------------070700020607040509070406--

--------------030208040009050001030506--
EOF
chmod 600 ${FT_SETUP}.*

fi
